<div class="skill-container">
<div class="row justify-content-md-center text-center">
    <div class="col col-3 bg-white backend-container">
        <i class="bi bi-hdd-rack-fill"></i>
        <h3>BackEnd</h3>

        <p>
            Trabajo desde el desarrollo, pruebas del software y lanzamiento a producción.
        </p>

        <p class="text-primary cabecera">
            Tecnologías:
        </p>

        <p>
            ASP.Net Core, Node.JS, SQL Server y MySQL.
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>Web APIs</li>
            <li>ASP.Net Core MVC</li>
            <li>Entity Framework Core</li>
        </ul>
    </div>

    <div class="col col-3 bg-white frontend-container">
                <i class="bi bi-code-square"></i>
                <h3>FrontEnd</h3>

        <p>
            Puedo crear interfaces gráficas de acuerdo a los requerimientos del usuario.
        </p>

        <p class="text-primary cabecera">
            Tecnologías:
        </p>

        <p>
            JavaScript, HTML y CSS.
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>JavaScript Vanilla</li>
            <li>Angular</li>
            <li>JQuery</li>
        </ul>
    </div>
</div>
</div>